.navbar {
    background-color: rgb(6, 6, 100) !important;
}

.navbar-brand {
    padding-left: 3vw;
    color: white !important;
}

#collapsibleNavId {
    margin-left: 20vw !important;
}

.navbar form {
    margin-left: 8vw !important;
}

.navbar .projectbtn {
    margin-left: 14vw !important;
}

.nav-link {
    color: white !important;
    padding-right: 2vw !important;
    font-size: 1.2vw;
    font-weight: bold !important;
}

.post-form,
.loginfrm,
.registerfrm {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    height: 66vh;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 3vw;
}

.post-form input,
.loginfrm input,
.updatefrm input,
.registerfrm input {
    width: 90%;
}

.post-form label,
.loginfrm label,
.updatefrm label,
.registerfrm label {
    color: rgb(6, 6, 100);
}


/* HOME PAGE  */

.allprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f4f7f6;
    margin-top: 4vw;
}

.allprojects .card {
    width: 25vw;
    margin-left: 3vw;
    margin: 0 auto;
}

.best img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}


/* PROFILE PAGE  */

.profile-section {
    display: flex;
    justify-content: center;
    margin-left: 19vw !important;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.colprojs {
    background-color: #f4f7f6;
    padding-top: 2vw;
}

.profile-section img {
    width: 6vw;
    height: 8vw;
    border-radius: 50%;
}

.profprojects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f4f7f6;
}

.profprojects .card {
    width: 25vw;
    margin-left: 3vw;
    margin: 0 auto;
    margin-top: 3vw;
}


/* UPDATE PROFILE  */

.profdecks {}

.profdecks form {
    width: 40vw;
    margin: 0 auto;
    border: 1px 1px 5px grey;
}

.profdecks img {
    width: 6vw;
    height: 8vw;
    border-radius: 50%;
}

.submitprof {
    width: 100%;
}


/* .mb-3 {} */