{% extends 'base.html'%} {%block content%}
<p class="card-text">{{user.username}}</p>

<div class="best">
  <img class="card-img-top" src="./media/placeholder.jpg" alt="" />
</div>
<div class="allprojects">
  {%for project in projects%}
  <div class="card" id="card-proj">
    <img class="card-img-top" src="{{project.image.url}}" alt="" />
    <div class="card-body">
      <h5 class="card-title">{{project.proj_name}}</h5>
      <p class="card-text">{{project.proj_description}}</p>
      <a
        name=""
        id=""
        class="btn btn-primary"
        href="{%url 'project-details' project.id%}"
        role="button"
        >View Details</a
      >
    </div>
  </div>

  {%endfor%}
</div>

{%endblock%}
