<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'home'%}">Rate It</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {%if user.is_authenticated%}

      <form class="form-inline my-2 my-lg-0" action="{%url 'search'%}">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          name="project"
        />
      </form>
      <li class="nav-item projectbtn">
        <a class="nav-link" href="{%url 'new-project'%}">Post Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Login</a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>
