<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'home'%}">Rate It</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {%if user.is_authenticated%}

      <form class="form-inline my-2 my-lg-0" action="{%url 'search'%}">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          name="project"
        />
      </form>
      <li class="nav-item projectbtn">
        <a class="nav-link" href="{%url 'new-project'%}">Post Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="/accounts/login">Login</a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>
