{%extends 'base.html'%}{%block content%}
<div class="row">
  <div class="col-lg-9">
    <p>{{user.username}}</p>
    <p>{{user.profile.bio}}</p>
    <p>{{user.profile.location}}</p>
    <img class="card-img-top" src="{{user.profile.prof_image.url}}" alt="" />
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="{%url 'update'%}"
      role="button"
      >Update profile</a
    >
  </div>
  <div class="col-lg-3">
    <div class="container">
      {%for project in projects%}
     
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>

{%endblock%}
